<h4>Ingrediente <small> {{ this.titulo }} </small></h4>
<hr>
<form (ngSubmit)="guardar()" autocomplete="off">

    <div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Nombre</label>
            <div class="col-8">

                <input class="form-control" name="nombre" type="text" placeholder="Nombre" [(ngModel)]="ingrediente.nombre">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Cantidad</label>
            <div class="col-8">

                <input class="form-control" type="number" placeholder="Cantidad en gramos o mililitros" name="cantidad" [(ngModel)]="ingrediente.cantidad">
            </div>
        </div>

    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Medida</label>
        <div class="col-8">

            <select class="form-control" name="medida" [(ngModel)]="ingrediente.medida">
                <option value="gr">Gramos</option>
                <option value="ml">Mililitros</option>
            </select>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Costo</label>
        <div class="col-8">

            <input class="form-control" type="number" placeholder="Costo en pesos" name="costo" [(ngModel)]="ingrediente.costo">
        </div>
    </div>



    <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md-8">
            <button type="submit" class="btn btn-outline-primary btn-block">
                <i class="fas fa-save"></i>
                Guardar
            </button>
        </div>
    </div>

</form>