<div class="text-right">
    <button class="btn btn-outline-primary" (click)="goToIngrediente('nuevo')">
        <i class="fas fa-plus-circle"></i>
        Agregar
    </button>
</div>

<table class="table table-bordered mt-3">
    <thead class="thead-dark">
        <tr>
            <th>Nombre</th>
            <th>Cantidad</th>
            <th>Medida</th>
            <th>Costo</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of this.ingredientes | async">
            <td>{{ item.nombre }}</td>
            <td>{{ item.cantidad }}</td>
            <td>{{ item.medida }}</td>
            <td>{{ item.costo }}</td>
            <td class="text-center">
                <i class="fas fa-pen text-warning boton" (click)="goToIngrediente(item.id)" title="Editar"></i>
                <i class="fas fa-trash ml-3 text-danger boton" (click)="deleteIngrediente(item.id)" title="Borrar"></i>
            </td>
        </tr>
    </tbody>
</table>