<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">TortasApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="[ '/ingredientes' ]" routerLinkActive="active">Ingredientes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="[ '/recetas' ]" routerLinkActive="active">Recetas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="[ '/ingrediente/nuevo' ]" routerLinkActive="active">Ingrediente</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
        </form>
    </div>
</nav>